# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.egg-info/
dist/
build/

# Database
*.db
*.sqlite3

# Environment
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Docker
.docker/

# Logs
*.log

# OS
Thumbs.db

node_modules

# --- Frontend (Next.js) ---
# Pasta de build
/apps/frontend/.next/
/apps/frontend/out/

# --- Backend (NestJS) ---
# Pasta de build
/apps/backend/dist/

# --- Backend (Cube.js) ---
# Cache e banco de dados temporário do Cube
/apps/backend/.cubestore
/apps/backend/cube.db

# Virtual Environments
.venv
venv
env

# SSH keys
*.pem